@tailwind base;
@tailwind components;
@tailwind utilities;

/* oxanium-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/oxanium-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oxanium-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/oxanium-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  font-family: "Oxanium", monospace;
}

button:hover {
  @apply bg-bgactive;
}

button:disabled {
  @apply text-textmuted;
}

button:disabled:hover {
  @apply text-textmuted;
  @apply bg-bgmuted;
  @apply cursor-not-allowed;
}

.box {
  @apply bg-bgmuted text-text outline outline-1 outline-accent focus-visible:bg-bgactive;
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.diagonal-stripes {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 8px,
    oklch(24% 0.04 157) 8px,
    oklch(24% 0.04 157) 24px
  );
}

.diagonal-stripes-red {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 8px,
    oklch(24% 0.04 25) 8px,
    oklch(24% 0.04 25) 24px
  );
}
